<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css')}}">

</head>

<body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js'></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

</body>

</html>